.home-page{
    padding-bottom: 4.5rem;
    background-color: #f5f5f5;
}
/* phân trang */
.phan_trang{
   font-size:2rem;
   padding:10px 0;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
  
}
.phan_trang_icon{
   text-align: center;
   color: rgba(0,0,0,.4);
   margin:0 15px;
   height: 30px;
   width: 40px;
}
.phan_trang_icon:hover{
    text-decoration: none;
    color: #ee4d2d;

}
.phan_trang_icon_active{
   background-color: #ee4d2d;
   color: #fff;
   border-radius: 4px;
}
.phan_trang_icon_active:hover{
   color: #fff;
}